# your database endpoint
# look in the environment.vars file to find this or get it from terraform
# current values are:
#   rds-postgres-staging.internal.lib.virginia.edu
#   rds-postgres-test.internal.lib.virginia.edu
#   rds-postgres-production.internal.lib.virginia.edu
DBHOST=

# database endpoint port, typically the default which is 5432
DBPORT=5432

# the database username
# typically virgo4 for the search database
DBUSER=virgo4

# the database password
# look in the environment.vars file to find this or get it from terraform
DBPASSWD=

# the database name
# typically virgo4 for the search database
DBNAME=virgo4
